<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="text-content">
      <h1 class="content-heading">
        Simplify your shopping with us – Finnish quality at your fingertips.
      </h1>
      <p class="content-paragraph">
      >Uncover Inspiration, Get Motivated, and live a better life.</p>
    </div>
    <div class="curved-section">
      <div class="svg-image">
        <svg
          width="1499"
          height="232"
          viewBox="0 0 1499 232"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <ellipse cx="720" cy="-125" rx="890" ry="357" fill="white" />
        </svg>
      </div>
      <div class="image-gallery">
        <img src="./images/image1.png" alt="Image 1" class="image" />
        <img src="/images/image2.png" alt="Image 2" class="image" />
        <img src="/images/image3.png" alt="Image 3" class="image" />
        <img src="/images/image4.png" alt="Image 3" class="image" />
        <img src="/images/image5.png" alt="Image 3" class="image" />
      </div>
      <div class="svg-image2">
        <svg
          width="1499"
          height="182"
          viewBox="0 0 1499 182"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <ellipse cx="720" cy="357" rx="890" ry="357" fill="white" />
        </svg>
    </div>
  </body>
</html>
