.category {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 20px 20px;
  color: #000000;
  width: 140px;
  height: 140px;
  border-radius: 10px;
  box-shadow: 0 2px 5px #a4b6b6;
  cursor: pointer;
  transition: all 0.3s ease;
  .icon {
    font-size: 24px;
  }
  .name {
    font-size: 14px;
    text-align: center;
    font-weight: 400;
  }
}
.category:hover {
  transform: scale(1.1);
}

.category-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80px;
}
