.input-field-container {
  width: 100%;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* background-color: rgb(211, 191, 191); */
  input {
    border-radius: 12px;
    padding-left: 16px;
    border: none;
    outline: 1px solid #666666;
  }
  label {
    padding-left: 8px;
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }
  span {
    color: red;
    font-size: 14px;
    padding-left: 8px;
  }
  input:focus,
  input:hover {
    outline: none;
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 2px rgb(129 140 248 / 30%);
  }
}
