span {
  color: red;
  font-size: 14px;
}
.checkbox-radio-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
}
label {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #333333;
}
.radio-span{
  padding-left: 4px;
}